@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100% !important;
}

.map-box {
    max-width: 600px !important;
}

.map-marker {
    margin-top: -32px;
}

#texto-principal {
    font-size: 2.3em;
    font-family: 'Secular One', sans-serif;
    background-image: linear-gradient(to bottom, #ecf840, #564592);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}